mixin social()
    .social.section#socials
        .section__header   
            .container
                h3.section__title Социальные сети
        .section__body.social
            .section__inner.container.social__body
                div
                    a(href="https://youtube.com/" target="_blank").social__item
                        img(src="images/youtube.svg", alt="")
                    a(href="https://tiktok.com/" target="_blank").social__item
                        img(src="images/tiktok.svg", alt="")
                    a(href="https://instagram.com/" target="_blank").social__item
                        img(src="images/instagram.svg", alt="")
                div
                    a(href="https://facebook.com/" target="_blank").social__item
                        img(src="images/facebook.svg", alt="")
                    a(href="https://telegram.org/" target="_blank").social__item
                        img(src="images/telegram.svg", alt="")
                    a(href="https://whatsapp.com/" target="_blank").social__item
                        img(src="images/whatsapp.svg", alt="")