doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="fonts/stylesheet.css")
        link(rel="stylesheet" href="styles/index.css")
    body 
        .wrapper
            include components/header.pug 
            +header
            main.main
                .breadcrumb.container
                    a(href="index.html").breadcrumb-item Главная
                    .breadcrumb-dot 
                    a(href="#!").breadcrumb-item.active О нас
                .new.about 
                    .about__body.container
                        .about__content
                            h2.about__title.title О нас 
                            p.about__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet enim nulla maecenas id mauris blandit dignissim massa magna. Scelerisque arcu vestibulum, id tincidunt turpis nibh diam. Neque, faucibus vitae, sed purus enim laoreet. Proin ipsum integer diam ut sagittis quis auctor amet.<br><br>Eget malesuada ac aliquam id bibendum non ornare ante. Vel lacus, ullamcorper commodo neque commodo dui turpis nisl. Gravida quis mauris in sed aliquet at. Duis nibh et id quis ultrices nulla at. Nec hendrerit eu, in lectus egestas ullamcorper ac. Viverra integer dignissim commodo vitae suspendisse interdum porttitor volutpat scelerisque.
                        .about__images 
                            img(src="images/about-1.png", alt="" draggable="false").about__img.big
                            img(src="images/about-2.png", alt="" draggable="false").about__img.small
                    .social.section#socials
                .section__header   
                    .container
                        h3.section__title Сумма сбора
                .section__body.progress
                    .section__inner.container.progress__body    
                        .progress__must Сумма для сбора: 
                            span 100 000 грн
                        p.progress__have Уже собрано:
                        .progress__item 
                            .progress__item-track(style="width: 34.488%") 
                            p 34 488 грн
                        a(href="#!").btn-secondary_2.progress__btn Сделать пожертвование
                .section__header   
                    .container
                        h3.section__title Фотогалерея
                .section__body.gallery
                    .container
                        .swiper.gallery__swiper
                            .swiper-wrapper.gallery__wrapper 
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-1.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-2.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-3.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-4.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-1.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-2.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-3.png", alt="")
                                .swiper-slide.gallery__slide 
                                    img(src="images/gallery-4.png", alt="")
                            .swiper-btns
                                .gallery-button-prev.swiper-button-prev
                                .gallery-pagination.swiper-pagination
                                .gallery-button-next.swiper-button-next

                include components/social.pug 
                +social
            include components/footer.pug 
            +footer
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="scripts/about.js") 
        script(src="scripts/index.js") 